html {
    height: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    font-family: "Questrial", sans-serif;
    background-size: auto;
    background-color: rgb(13, 17, 23);
    color: rgb(189, 199, 209);
    /*animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-direction: column;
}

.main-wrapper{
    width: 550px;
    justify-content: space-between;
    display: flex;
}
.input-wrapper{
    width: 6em;
    position: relative;
}
.text-bg{
    position: absolute;
    top: 4.5em;
    height: 1.3em;
    width: 6em;
    background-color: rgba(0, 211, 0, 0.4);
    transition: 0.5s linear;
    display: none;
}
.play-arrow {
    position: inline;
    float: left;
    width: 60px; 
    height: 60px; 
    background-color: rgb(196, 82, 16);
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    transition: 0.25s ease-out;
    transform: rotate(-90deg);
}
.play
{
    width: 0px; 
    height: 0px; 
    background-color: transparent;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 60px solid green;
    transform: rotate(0);
}
.header-wrapper p{
    margin: 2px;
    width: 100%;
    text-align: center;
}
.text-wrapper{
    height: 500px;
    margin-bottom: 6px;
}
#textBox{
    width: 5em;
    font-size: 1.4em;
    resize: none;
    background-color: rgb(46, 60, 82);
    color: rgb(218, 227, 236);
}
#compiledCode{
    resize: vertical;
    background-color: rgb(20, 26, 36);
    color: rgb(152, 159, 165);
}
#notesKey{
    text-align: left;
    padding-left: 4px;
}
.text-wrapper textarea{
    height: 100%;
}
.watermark{
    position: absolute;
    right: 128px;
    bottom: 64px;
    font-size: 1.2em;

}
#buttons {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
}
#buttons button{
    position: relative;
    padding: 12px 7px;
    float: right;
    color: white;
    border: none;
    transition: 0.2s;
    border-radius: 0;
}
#buttons button:hover{
    transform: scale(1.1);
}
#play-button {
    background-color: rgb(0, 155, 0);
}
#clear-button {
    background-color: rgb(175, 0, 0);
}
#play-button:hover {
    background-color: rgb(0, 192, 0);
}
#clear-button:hover {
    background-color: rgb(223, 0, 0);
    z-index: 99;
}

